body {
	margin: 			0; 
	padding: 			0; 
	text-align: 		center; 
	background-color: 	#ecf0f1;
}

tbody tr:hover {
	background-color: 	#28a745 !important;
	color: 				#ffffff;
	transition: 		all .15s ease-in-out;
	cursor: 			pointer;
}

.nav {
	justify-content: center;
}

.nav a{
	color: #000000;	
}

.nav a:hover{
	text-decoration:underline;
}

#scLogo {
	display: 	inline-block; 
	width: 		125px; 
	height: 	109px;
}

h2 {
	font-size:	50px; 
	position:	relative; 
	top:		20px; 
	text-align:	left;"
}

input {
	padding:			10px 10px;
	height:				45px;
	width: 				50%;
	border-radius: 		4px;
	border: 			1px solid #bdc3c7;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 	0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 		0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	text-align: 		center;
}

#searchBox, #gameBox {
	margin: 			0 auto;
	margin-top: 		100px;
	padding: 			20px;
	text-align: 		center;
	width: 				50%;
	background-color: 	#ffffff;
	-webkit-box-shadow: 7px 7px 16px 2px rgba(0, 0, 0, 0.5); /* WebKit */
	-moz-box-shadow: 	7px 7px 16px 2px rgba(0, 0, 0, 0.5); /* Firefox */
	box-shadow: 		7px 7px 16px 2px rgba(0, 0, 0, 0.5); /* Standard */
}

textarea {
	overflow:			hidden;
	padding:			10px 10px;
	height:				45px;
	width:				75%;
	border-radius:		4px;
	border:				1px solid #bdc3c7;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:	0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow:			0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.tableContainer {
	margin:		0 auto;
	margin-top:	30px;
	text-align:	left;
}

#board, .board {
	width:	400px;
	margin: 0 auto;
}

.info {
	width:	400px;
	margin: auto;
}

.whiteHeader, .blackHeader {
	text-align: left;
	font-size: 	25px;
	display: 	block;
}

.restHeader {
	text-align: left;
	font-size: 	14px;
	display: 	block;
}

.whiteHeader:before {
	content: 		'\2654';
	padding-right: 	20px;
}

.blackHeader:before {
	content: 		'\265A';
	padding-right: 	20px;
}

#boardMoves {
	text-align: left;
}